* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f5;
}

.container {
  display: flex;
  height: 90%;
  width: 80%;
  background-color: aliceblue;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sampler {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  background-color: #fff8f0;
  padding: 20px;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #d0eaff;
  border-radius: 10px;
  padding: 15px;
  transition: 0.3s;
  border: 2px solid transparent;
}

.grid:hover {
  background-color: #cbe5ff;
  border-color: #0078d7;
}

.grid.active {
  border: 2px solid #ffc107;
  transform: scale(1.1);
}

.grid-volume {
  width: 80%;
  margin-top: 10px;
  -webkit-appearance: none;
  height: 4px;
  background: #0078d7;
  outline: none;
  border-radius: 5px;
  transition: 0.2s;
}

.grid-volume:hover {
  background: #005bb5;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-label:hover {
  background-color: #0056b3;
}

.file-upload {
  display: none;
}

.file-name {
  font-size: 12px;
  color: #666;
  text-align: center;
  max-width: 150px;
  word-wrap: break-word;
}

.sidebar {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: #2b6777;
  padding: 20px;
  gap: 20px;
  color: white;
}

.settings {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #cce3de;
  border-radius: 10px;
  padding: 15px;
  gap: 20px;
  color: #2b6777;
}

.eq,
.fx,
.output {
  display: flex;
  flex-direction: column;
  background-color: #dff2f0;
  padding: 15px;
  border-radius: 10px;
  gap: 15px;
}

.band {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.band label {
  flex: 1;
  text-align: right;
  margin-right: 15px;
  font-size: 14px;
  color: #2b6777;
}

.band input[type="range"] {
  flex: 3;
  -webkit-appearance: none;
  height: 4px;
  background: #0078d7;
  border-radius: 5px;
  outline: none;
  transition: 0.2s;
}

.band input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: #2b6777;
  border-radius: 50%;
  cursor: pointer;
}

.band input[type="range"]:hover {
  background: #005bb5;
}

#reverb,
#volume {
  -webkit-appearance: none;
  height: 4px;
  background: #0078d7;
  outline: none;
  border-radius: 5px;
  transition: 0.2s;
}

#reverb:hover,
#volume:hover {
  background: #005bb5;
}
